@font-face {
font-family: 'ROUGD';
src: url('./fonts/ROUGD.eot');
src: local('ROUGD'), url('./fonts/ROUGD.woff') format('woff'), url('./fonts/ROUGD.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_45100">Text with this font applied</p> */
.fontsforweb_fontid_45100 {
font-family: 'ROUGD' !important;
}

@font-face {
  font-family: 'BLOODSUC';
  src: url('./fonts/BLOODSUC.eot');
  src: local('BLOODSUC'), url('./fonts/BLOODSUC.woff') format('woff'), url('./fonts/BLOODSUC.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_577">Text with this font applied</p> */
.fontsforweb_fontid_577 {
  font-family: 'BLOODSUC' !important;
}

@font-face {
  font-family: 'TransformersMovie';
  src: url('./fonts/TransformersMovie.eot');
  src: local('TransformersMovie'), url('./fonts/TransformersMovie.woff') format('woff'), url('./fonts/TransformersMovie.ttf') format('truetype');
}

@font-face {
  font-family: 'TrueLies';
  src: url('./fonts/TrueLies.eot');
  src: local('TrueLies'), url('./fonts/TrueLies.woff') format('woff'), url('./fonts/TrueLies.ttf') format('truetype');
}

body{
  background-image:url('../images/fumee0000.jpg'),url('../images/fumeeinverse0000.jpg');
  background-position:-25% 0%,125% 0%;
  background-repeat:no-repeat;
  padding-bottom:850px;

}

#login-window{
  display:none;
  position:absolute;
  top:100px;
  left:25%;
  background:rgba(240, 240, 245, 0.9);
  z-index:31;
  width:50%;
  padding-bottom:20px;
}

#arriere-login{
  display:none;
  position:fixed;
  top:0px;
  width:2500px;
  height:2500px;
  z-index:30;
  background:rgba(0,0,0,0.5);
}

.text-form{
  color:rgb(6,6,6);
  font-family:'TrueLies';
  font-size: 1.5em;

}

.form-control{
  font-family:georgia;
  color:rgb(6,6,6);
}

.verif-zone{
  font-style:italic;
  font-size:0.7em;
  color:rgb(100,6,6);
  font-family:georgia;
  margin-left:20px;
}

#tableau-smiley{
  display:none;
  position:absolute;
  top:50%;
  z-index:10;
  left:33%;
  background:#fff;
  border:black 1px solid;
  border-radius:5px;
  padding:15px;
  padding-bottom:40px;

}
#tableau-smiley img{
  width:100%;
}
#tableau-smiley img:hover{
  border:rgba(6,6,6,0.5) 1px solid;
  border-radius:5px;
}

#tableau-smiley img:active{
  border:rgba(6,6,6,0.5) 1px solid;
  border-radius:10px;
  background:black;
}


#ar-fenetre-modale{
  display:none;
  position:fixed;
  width:2000px;
  height:2000px;
  z-index:9;
  background:rgba(0,0,0,0.5);
}

#team-gone-fly{
  font-family:TrueLies;
  font-size:7em;
  position:relative;
  color:rgba(136,136,136,0.9);
}

.navigation-champ{
  font-size:1.5em;
}

.font-global{
  font-family:TrueLies;
}

.menu-nav{
  background-image:url('../images/smoke3.png'),url('../images/smoke3.png'), url('../images/menu2.png'),url('../images/plane.png'),url('../images/plane1.png');
  background-position:20% 100%, 40% 100%, 60% 100%;
  background-size:auto;
  background-repeat:repeat, repeat, no-repeat, no-repeat, no-repeat;
}

.chat{
  position:fixed;
  z-index:4;
  left:25%;
  top:430px;;
}

img{
  width:100%;
}

@media screen and (min-width:1593px)
{
  .menu-nav{
    background-image:url('../images/smoke3.png'),url('../images/smoke3.png'), url('../images/menu2.png'), url('../images/logo2.jpg'),url('../images/plane1.png');
    background-position:10% 100%, 10% 0%, 25% 100%,85% 10%;
    background-size:auto, auto, auto, 150px, 300px;
    background-repeat:repeat, repeat, no-repeat, no-repeat,no-repeat;
  }

  .navigation-champ{
    font-size:2em;
  }


  #team-gone-fly{
    font-family:TrueLies;
    font-size:9em;
    color:rgba(136,136,136,0.9);
  }

}


@media screen and (max-width:1000px)
{
  #team-gone-fly{
    font-family:TrueLies;
    font-size:6em;
    color:rgba(136,136,136,0.9);
  }

  .navigation-champ{
    font-size:1.4em;
  }

  #header{
    padding-top:50px;
  }

}
